streamlit
python-dotenv
pypdf
langchain
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-chroma
langchain-ollama
chromadb
langchain-huggingface
sentence-transformers
langchain-groq
